body {
    background-color: lightblue;
    color: black;
  }
 a:hover{
    color: #ec008c;
  }
.user {
    border-radius: 50%;
    max-width: 60px;
    max-height: 60px;
  }
.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}
.avatar-medium {
  max-width: 64px;
  max-height: 64px;
}

.btn {
    background-color: #ec008c;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
table {
  width:100%;

  }
  .navbar-light .navbar-brand {
    color:#ec008c !important;
  }
