body {
    background-color: lightblue;
    color: black;
  }
 a:hover{
    color: #ec008c;
  }
.user {
    border-radius: 50%;
    max-width: 60px;
    max-height: 60px;
  }
.avatar {
  border-radius: 50%;
  border: 3px solid #ec008c;
  width: 100px;
  height: 100px;
  object-fit: cover;

}
.avatar-medium {
  max-width: 64px;
  max-height: 64px;
}

.btn {
    background-color: #ec008c;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

table {
  width:100%;

  }

.navbar-light .navbar-brand {
    color:#ec008c !important;
    font-size: 50px;
  }
